# Christine's stuff
*.env
CLAUDE.md
*.eval
.claude/
christine_experiments/**/*.ipynb
# christine_experiments/**/*.json
!/sphinx/u/cye/emergent-doordash/christine_experiments/20251008/plots.ipynb
christine_experiments/20251010_data/openthoughts_sonnet45.jsonl

# Python
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store
core
*.egg-info/
