inspect-ai
dotenv
antlr4-python3-runtime==4.11
huggingface_hub
transformers
accelerate
datasets
omegaconf
pandas
wandb
tiktoken
sentencepiece
omegaconf
protobuf<4
trl==0.9.6
# pip install --index-url https://download.pytorch.org/whl/cu124 torch==2.6.0+cu124 --extra-index-url https://pypi.org/simple