inspect-ai
dotenv
antlr4-python3-runtime==4.11
huggingface_hub
torch
transformers
accelerate
datasets
omegaconf
pandas
wandb
tiktoken
sentencepiece
omegaconf
flash-attn
datetime
protobuf<4
trl==0.9.6
time